{% extends "mainpage/main.html" %}
{%  load static %}

{% block content %}


{% load crispy_forms_tags %}
<html>
<head>
<title>Create a Post </title>
</head>

<body>

<div class="container"><form action="" method="POST">
	<h1>Update Data </h1> <hr>
{% csrf_token %}
Username: <input class="form-control" placeholder="Add UserName" type="text" name="title"/><br/> <hr>
Total: <input class="form-control" placeholder="Add Total" type="text" name="content"><br> <hr>

<input  style="float: center"class="btn btn-primary "type="submit" value="UPDATE"/>

</form>
</div>
</body>


</html>
{% endblock content %}


